<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../CSS/style.css">

		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

		<title>Game</title>
	</head>
	<body>
		<h1 class="game-title">Game</h1>

		<header>
			<nav class="main_menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/ranking">Ranking</a>
					</li>
					<li>
						<a href="/rules">Rules</a>
					</li>
				</ul>
			</nav>
		</header>

		<section class="actions">
			<p><strong th:text="${currentPlayer}" class="color-tomato">player 1</strong> is playing now</p>
		</section>

		<section class="labyrinth_section">
			<div class="grid">
				<div th:each="cell : ${maze}" th:classappend="${(cell.burger ? 'cell burger-bg' : 'cell') + (cell.human ? ' hungry-man-bg' : '') + (cell.wallTop ? ' wall-top' : '') + (cell.wallBottom ? ' wall-bottom' : '') + (cell.wallLeft ? ' wall-left' : '') + (cell.wallRight ? ' wall-right' : '') + (cell.steak ? ' steak-bg' : '')}"></div>
			</div>
		</section>

		<section class="command_board">
			<div th:text="${steakCount}"></div>
			<form action="/game" method="POST">
				<input type="submit" name="move" value="top" class="color-tomato">
				<input type="submit" name="move" value="left" class="color-bread">
				<input type="submit" name="move" value="right" class="color-steak">
				<input type="submit" name="move" value="bottom" class="color-salad">
			</form>
		</section>
		
	</body>
</html>