<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/CSS/style.css">

		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

		<title>Game</title>
	</head>
	<body>
		<h1>Game</h1>

		<header>
			<nav class="main_menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/ranking">Ranking</a>
					</li>
					<li>
						<a href="/rules">Rules</a>
					</li>
				</ul>
			</nav>
		</header>

		<section class="labyrinth_section">
			
		</section>

		<section class="command_board">
			<button>Left<ion-icon name="arrow-round-back" class="color-bread"></ion-icon></button>
			<button>Top<ion-icon name="arrow-round-up" class="color-salad"></ion-icon></button>
			<button>Bottom<ion-icon name="arrow-round-down" class="color-tomato"></ion-icon></button>		
			<button>Right<ion-icon name="arrow-round-forward" class="color-steak"></ion-icon></button>
		</section>

		<section class="stat_board">
			<p>Score : <span>1000</span></p>
			<p>Temps : <span>10:30:03</span></p>
		</section>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>