<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../CSS/style.css">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">	
			
		<title>Home</title>
	</head>
	<body>
		<div class="home_container">
			<img class="logo" src="../IMG/hamburger.png" alt="logo burger run">
			<h1 class="main_title">Welcome to BURGER RUN</h1>
			<header>
				<nav class="home_nav">
					<ul>
						<li>
							<a href="/rules">Rules</a>
						</li>
						<li>
							<a href="/game">Game</a>
						</li>
						<li>
							<a href="/ranking">Ranking</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		
	</body>
</html>