<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../CSS/style.css">

		<title>Loose</title>
	</head>
	<body>
        <h1>You loose</h1>
        <img src="..//IMG/hamburger_KO.png" alt="hamburger KO" class="burger-KO">

		<header>
			<nav class="main_menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/game">Replay</a>
					</li>
                    <li>
						<a href="/ranking">Ranking</a>
					</li>
					<li>
						<a href="/rules">Rules</a>
					</li>
				</ul>
			</nav>
		</header>

	</body>
</html>