<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../CSS/style.css">

		<title>Ranking</title>
	</head>
	<body>
		<h1>Ranking</h1>

		<header>
			<nav class="main_menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/game">Game</a>
					</li>
					<li>
						<a href="/rules">Rules</a>
					</li>
				</ul>
			</nav>
		</header>

		<section class="ranking_section">
		<!--
			<table>
				<tr>
					<td class="color-bread">ID</td>
					<td class="color-salad">Name</td>
					<td class="color-tomato">Score</td>
				</tr>
				<tr>
					<th class="color-bread">1</th>
					<th class="color-salad">Clement</th>
					<th class="color-tomato">1000</th>
				</tr>
				<tr>
					<th th:each=""></th>
				</tr>
			</table>
		-->
			<table class="table table-fixed">
				<thead>
					<tr>
						<th class="color-salad">Player</th>
						<th class="color-tomato">Steaks</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rank : ${rankings}">
						<td class="color-salad" th:text="${rank.nickname}"></td>
						<td class="color-tomato" th:text="${rank.steak_score}"></td>
					</tr>
				</tbody>
			</table>
		</section>

	</body>
</html>