<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../CSS/style.css">

		<title>Rules</title>
	</head>
	<body>
		<h1 class="rules-title">Rules</h1>

		<header>
			<nav class="main_menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/game">Game</a>
					</li>
					<li>
						<a href="/ranking">Ranking</a>
					</li>
				</ul>
			</nav>
		</header>

		<section class="rules_section">
			<p class="color-bread">You have the choice between two characters :</p>
			<ul>
				<li>An innocent hamburger</li>
				<li>A hungry human</li>
			</ul>	
			<p class="color-tomato">The role of the hamburger is simple, get out of the maze by having picked up the most steaks</p>
			<p class="color-salad">The role of the human, eat the hamburger and prevent it from escaping</p>
			<p class="color-steak">Beware, the human goes faster than the hamburger, if he eats you, you lose 1 steak, if you have 0 steak in your possession and the human catches you, you lose!</p>

			<p>How to move</p>
			<p class="color-bread">You can use the buttons 
				<input type="text" value="↑">, 
				<input type="text" value="←">, 
				<input type="text" value="↓">, 
				<input type="text" value="→"> 
			</p>
			<p class="color-bread">
				or
				<input type="text" value="Z">, 
				<input type="text" value="Q">, 
				<input type="text" value="S">, 
				<input type="text" value="D">  
			</p>
		</section>

	</body>
</html>